@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

html {
    background: whitesmoke;
    background: rgb(243, 239, 233);
}

body {
    padding: 0 .5rem;
    margin: 0 auto;
    max-width: 44rem;
}

p {
    color: navy;
}

h1, h2, h3, h4, h5 {
    color: rgb(146, 49, 17); 
    font-family: 'Elsie Swash Caps', cursive;
}

h1 {
    font-weight: 400;
    font-size: 4.4em;
    overflow-x: visible;
    width: 100vw;
    left: .5rem;
    transform: translateX(-.1em);
}

@media only screen and (max-width: 44rem) {
    h1 {font-size: 10vw; }
}