@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

html {
    background: whitesmoke;
    background: rgb(243, 241, 236);
}

body {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 44rem;
}

img { width: 100%;}

p {
    color: navy;
}

h1, h2, h3, h4, h5 {
    color: rgb(206, 150, 87); 
    font-family: 'Elsie Swash Caps', cursive;
}

h1 {
    font-weight: 400;
    font-size: 4.733rem;
    overflow-x: visible;
    width: 100vw;
    left: .5rem;
    transform: translateX(-.1em);
    color: rgb(146, 49, 17); 
    /* transition: font-size .05s ease; */
}
@media only screen and (min-width: 46rem) {
    h1 {
    transition: font-size .05s ease;
    }
}

@media only screen and (max-width: 46rem) {
    h1 {font-size: calc(10.1vw - .2rem); }
}