@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');

* {
    /* padding: 0;  */
    margin: 0;
}

html {
    background: whitesmoke;
    background: rgb(243, 241, 236);
}

body {
    padding: 1rem;
    margin: 0 auto;
    max-width: 44rem;
}

img { width: 100%; }

p {
    color: navy;
    color: rgb(49, 73, 32);
    padding-bottom: .75rem;
}

h1, h2, h3, h4, h5 {
    color: rgb(206, 150, 87); 
    font-family: 'Elsie Swash Caps', cursive;    
}

h1 {
    font-weight: 400;
    font-size: 4.733rem;
    overflow-x: visible;
    width: calc(100vw - 2rem);
    /* padding-right: -50vw; */
    overflow-x: visible;
    /* background: pink; */
    left: .5rem;
    transform: translateX(-.1em);
    color: rgb(146, 49, 17); 
    transition: font-size .05s ease;
}
@media only screen and (min-width: 46rem) {
    h1 {
    transition: font-size .05s ease;
    max-width: calc(100% + 2rem);
    }
}

@media only screen and (max-width: 46rem) {
    h1 {font-size: calc(10.2vw - .18rem); }
}

.description { transition: max-width .2s ease }
.left { transition: margin .2s ease }

@media only screen and (min-width: 70rem) { 
    .left, .right {
        float: left;
    }
    .description, .left, .right {
        max-width: 33rem;
    }
    .right {
        margin-left: 1rem;
        transform: translateY( -.56rem);
    }
    body {
        max-width: 70rem;
        margin: 0 auto;
    }
}

.top { padding-bottom: .75rem }

ul {
    list-style: none;
}

ul li::before { 
    color: rgb(49, 73, 32);
    color: rgb(88, 138, 53);
    content: "☙";
    font-weight: bold;
    font-size: larger;
    padding: 0; margin: 0;
    line-height: 0;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    vertical-align: -.1em;
}

section[class] {
    margin-bottom: .75rem;
} 

a { 
    color: rgb(88, 138, 53); 
    transition: color .12s ease;
}
a:hover { color: rgb(49, 73, 32); }
a:visited { color: rgb(116, 18, 31); }
